/app/etc/local.xml

/app/code/core/
/app/code/community/
/app/design/adminhtml/
/app/design/install/
/app/design/frontend/base/
/app/design/frontend/rwd/
/app/design/frontend/default/blank/
/app/design/frontend/default/default/
/app/design/frontend/default/iphone/
/app/design/frontend/default/modern/
/app/locale/
/app/.htaccess
/app/bootstrap.php
/app/Mage.php
/dev/
/downloader/
/errors/
/includes/
/js/
/lib/
/shell/
/skin/adminhtml/
/skin/frontend/base/
/skin/frontend/rwd/
/skin/frontend/default/blank/
/skin/frontend/default/blue/
/skin/frontend/default/default/
/skin/frontend/default/french/
/skin/frontend/default/german/
/skin/frontend/default/iphone/
/skin/frontend/default/modern/
/var/
/skin/install/
.htaccess
.htaccess.original
.htaccess.sample
api.php
cron.php
cron.sh
get.php
index.php
index.php.sample
install.php
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
mage
php.ini.sample
RELEASE_NOTES.txt
robots.txt